
  
  
  <app-banner [title]="title"></app-banner>


  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <form #addTeamForm="ngForm" (ngSubmit)="addEditTeam()">
            <div class="form-group">
              <input type="text" class="form-control" name="a" [(ngModel)]="team.teamName" placeholder="Team Name" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="b" [(ngModel)]="team.teamCountry" placeholder="Team Country" />
            </div>
            <span class="text-success">{{msg}}</span>
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5" value="{{title}}" />
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>